@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';


@font-face{
    font-family: Avenir;
    src:url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight:400;
}
@font-face{
    font-family: Avenir;
    src:url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight:700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir,sans-serif;
    list-style: none;

}
@mixin title($fontsize: 40px){
    @include text($fontsize);
    color: variaveis.$corTextoTextoSecundario;

}
@mixin text($fontsize:16px){
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color:variaveis.$corTextoPrincipal ;
}
.text--big{
    @include text(18px);
        @media( max-width:768px) {
        @include text(15px)
    }
}
.text{
    @include text;
    @media( max-width:768px) {
        @include text(14px)
    }
}
.text--small{
    @include text(10px);
    @media( max-width:768px) {
        @include text(11px)
    }
}
.text--small--2{
    @include text(12px);
}
.title--big{
    @include title(44px);
    
    @media( max-width:768px) {
        @include title(26px)
    }

}
.title{
    @include title(40px);
    
    @media( max-width:768px) {
        @include title(24px)
    }
}
.title--small{
    @include title;
    @media( max-width:768px) {
        @include title(22px)
    }
}
.link-text{
    @include text(20px);
}
body{
    background-color: variaveis.$cordefundo;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    background-color: variaveis.$corbutton;
    color: variaveis.$corTextoTextoSecundario;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid variaveis.$corbutton;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    &:hover{
        background-color: lighten(variaveis.$corbutton, 3%);
    }

    &--secondary{
        background-color: variaveis.$corDeFundoBotaoSecondario;
        border-color:variaveis.$corDeFundoBotaoSecondario;
        &:hover{
            background-color: lighten(variaveis.$corDeFundoBotaoSecondario, 3%);
        }
    }
    &--dark{
    background-color:  rgba(variaveis.$corDeFundoBotaoDark, 0.8) ;
    border-color: variaveis.$corTextoTextoSecundario;
        &:hover{
            background-color: variaveis.$corTextoTextoSecundario;
            color:variaveis.$cordefundo;
        }
}
}
.image-text-section{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media( max-width:768px) {
        display: block;
        }

    img{
        max-width: 100%;
    }
    &__text_container{
        padding: 0 2vw;
        h2{
            margin-bottom:24px ;
        }
    }
    &--image-full-width{
        position: relative;
        display: block;
        img{
            width: 100%;
            padding: 3.2vw;
        }
        .rei{
            position: absolute;
            left: 50%;
            padding-bottom: 20%;
            top: 5.6vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media( max-width:768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}